.fieldset-component {
	color: rgba(0, 0, 0, 0.54);
	font-size: 1rem;
	font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
	font-weight: 500;
	line-height: 1;
	letter-spacing: 0.00938em;
	border: none;
}
